*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build folder
**/build/

# Node modules (Firebase Functions)
node_modules/
**/node_modules/

# Firebase
google-services.json
**/google-services.json
.firebaserc

# Firebase local emulator data
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
